{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carafe</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}css/landing-page.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/coming.css" rel="stylesheet">
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="brand-heading">CARAFE</h1>
                        <p class="intro-text">ANALYSE DATA. SHARE RESULT.
                            <br>COMING SOON!</p>
                        <a class="btn btn-circle page-scroll" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-video-camera animated"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="container">
                    <div id="browser" class="center-block">

                        <iframe src="//player.vimeo.com/video/99579075?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{{ STATIC_URL }}js/lib/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/lib/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/home.js"></script>
    <script src="{{ STATIC_URL }}js/coming.js"></script>
</body>

</html>
