{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carafe</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sweet-alert.css">
    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}css/landing-page.css" rel="stylesheet">

  </head>

  <body>

     {% include "home/navigation.html" %}
    
      <div class="content-section-a">
      <br/>
      <div class="container">
  
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Become a data alchimist</h2>
            <p class="lead">Carafe is the simplest way to decant data.<br/> Result has never been easier to share!</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="{{ STATIC_URL }}img/lab.png" alt="">
          </div>
        </div>
  
      </div><!-- /.container -->

    </div><!-- /.content-section-a -->

    <div class="content-section-b">

      <div class="container">
  
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Bullet-Proof </h2>
            <p class="lead">Easy to use, easy coworking, less operations, all-in one tools.<br>Carafe helps you to reduce analytic errors.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="{{ STATIC_URL }}img/shield.png" alt="">
          </div>
        </div>
  
      </div><!-- /.container -->

    </div><!-- /.content-section-a -->

    <div class="content-section-a">

      <div class="container">
  
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">In the Cloud</h2>
            <p class="lead">Access to your dashboard everywhere. It makes business intelligence faster and easier than ever before!</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="{{ STATIC_URL }}img/jet.png" alt="">
          </div>
        </div>
  
      </div><!-- /.container -->

    </div><!-- /.content-section-a -->

    <div class="content-section-b">

      <div class="container">
       <div id="browser" class="center-block">
      
    <iframe src="//player.vimeo.com/video/99579075?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      
    </div>
  
      </div><!-- /.container -->

    </div><!-- /.content-section-a -->
    <div class="banner content-section-a">

      <div class="container">
  
        <div class="row">
          <div class="col-lg-6">
            <h3>See some demos:</h3>
          </div>
          <div class="col-lg-6">
            <ul class="list-inline banner-social-buttons">
              <li><a href="/profil/n@n.com" class="btn btn-default btn-lg"><i class="fa fa-book fa-fw"></i> <span class="network-name">DEMO</span></a></li>
            </ul>
          </div>
        </div>
  
      </div><!-- /.container -->

    </div><!-- /.banner -->
  
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li><a href="#home">Home</a></li>
              <li class="footer-menu-divider">&sdot;</li>
              <li><a href="#about">About</a></li>
              <li class="footer-menu-divider">&sdot;</li>
              <li><a href="#services">Services</a></li>
              <li class="footer-menu-divider">&sdot;</li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Carafe.io 2014. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/lib/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/lib/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/home.js"></script>
     <script src="{{ STATIC_URL }}js/sweet-alert.js"></script> 
  </body>
</html>