Django==1.6.5
Markdown==2.4.1
Pillow==2.4.0
South==0.8.4
argparse==1.2.1
django-all-access==0.6.0
django-appconf==0.6
django-avatar==2.0
django-guardian==1.2.0
djangorestframework==2.3.14
oauthlib==0.6.3
pika==0.9.13
psycopg2==2.5.3
pycrypto==2.6.1
redis==2.10.1
requests==2.3.0
requests-oauthlib==0.4.1
simplejson==3.5.3
six==1.7.2
wsgiref==0.1.2
