{% verbatim %}
<div id="dashboard" class="panel panel-default" ng-controller="WidgetController">
    <div class="panel-heading" ng-click="update()">
        <i class="fa fa-dashboard fa-fw"></i> Dashboard {{ needUpdate ? "(need update)" : "" }}
        <div class="pull-right">
            <a class="btn_eval btn btn-warning btn-xs" ng-click="update">GO!</a>
        </div>
    </div>
    <div id="containment-wrapper" class="panel-body" style="height:1000px">
        <div ng-if="message!=null" class="message alert alert-warning">
            {{message}}
        </div>
        <div class="table-container ui-widget-content draggable ui-draggable" style="position:relative;" ng-repeat="widget in widgets">
            <div ng-if="widget.constructor.name == 'Table'" handsontable data="widget"></div>
            <div ng-if="widget.constructor.name == 'Plot'" plot data="widget"></div>
        </div>
        <div id="invisible-wrapper" ng-show="cs.widget.readOnly || message!=null" class="panel-body" style="height:1000px"></div>
    </div>

</div>
<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li><a tabindex="-1" href="#">Action</a>
        </li>
        <li><a tabindex="-1" href="#">Another action</a>
        </li>
        <li><a tabindex="-1" href="#">Something else here</a>
        </li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Separated link</a>
        </li>
    </ul>
</div>
{% endverbatim %}
