<div id="dashboard" class="panel panel-default">
  <div class="panel-heading">
  	 <i class="fa fa-dashboard fa-fw"></i> Dashboard
         <div class="pull-right">
                            <a class="btn_eval btn btn-danger btn-xs">GO!</a>
          </div>
  </div>
   <div id="containment-wrapper" class="panel-body" style="height:1000px"></div>
   <div id="invisible-wrapper"   class="panel-body" style="height:1000px"></div>
</div>
<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li><a tabindex="-1" href="#">Action</a></li>
        <li><a tabindex="-1" href="#">Another action</a></li>
        <li><a tabindex="-1" href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
</div>   