    <br/>
    <form id="editor" method=post action="{% url "book.views.get_book" book_id %}">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-ul fa-fw"></i>  Equations
                        <div class="pull-right">
                            <a id="btn_eval" class="btn btn-danger btn-xs">GO!</a>
                        </div>
                     </div>
                    {{ form.form_id }} 
                    {{ form.book_id }} 
                    <textarea id="id_formulas" name="formulas" class="form-control" rows="3">{{formulas}}</textarea>
                </div>
    </form>
    