<form id="editor" method=post action="/book/3" ng-controller="EditorController">
    {% csrf_token %}
    <div class="panel panel-default">
        {% verbatim %}
        <div class="panel-heading">
            <i class="fa fa-list-ul fa-fw"></i> Equations
            <div class="pull-right">
                <a id="btn_eval" ng-click="update()" class="btn_eval btn btn-warning btn-xs">GO!</a>
            </div>
        </div>
   {% endverbatim %} {{ form.form_id }} {{ form.book_id }} {{ form.read_only }}
        <textarea id="id_equations" name="equations" class="form-control" codeeditor data="onChange" es="es">
        </textarea>
    </div>
</form>
