{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carafe</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}css/jquery.handsontable.full.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/landing-page.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/workspace.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/elegant.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/codemirror.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/rickshaw.css" rel="stylesheet">
</head>
<body>
    {% block wrapper %}
    <div id="wrapper">
            {% include "book/navigation.html" %}
            <div id="page-wrapper"> 
            {% include "book/form.html" %} 
            {% include "book/dashboard.html" %}
            </div>     
    </div>    
    {% endblock %}
    <!-- JavaScript -->
<!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/lib/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/lib/bootstrap.js"></script>
    <!-- Mock -->
    <script src="{{ STATIC_URL }}js/jquery-mockjax/jquery.mockjax.js"></script>
    <script src="{{ STATIC_URL }}js/mock.js"></script>
<!-- External lib -->
    <!-- Handsontable is a minimalistic Excel-like data grid editor for JavaScript  -->
    <script src="{{ STATIC_URL }}js/lib/jquery.handsontable.full.js"></script>
    <!-- D3.js is a JavaScript library for manipulating documents based on data -->
    <script src="{{ STATIC_URL }}js/lib/vendor/d3.min.js"></script> 
    <script src="{{ STATIC_URL }}js/lib/vendor/d3.layout.min.js"></script> 
    <!-- Rickshaw is a JavaScript toolkit for creating interactive time series graphs  -->
    <script src="{{ STATIC_URL }}js/lib/rickshaw.js"></script> 
    <!-- CodeMirror is a versatile text editor implemented in JavaScript for the browser -->
    <script src="{{ STATIC_URL }}js/lib/codemirror.js"></script>
<!-- Workspace lib -->
    <!-- CodeMirror scheme to be apply on eqs form -->
    <script src="{{ STATIC_URL }}js/workspace/carafe-scheme.js"></script>
    <!-- Eqs in big js obj and functions to change thems -->
    <script src="{{ STATIC_URL }}js/workspace/eqobj.js"></script>
    <!-- Back-end communication -->
    <script src="{{ STATIC_URL }}js/workspace/evaluator.js"></script>
    <!-- All the widget to be display in the dashboard -->
    <script src="{{ STATIC_URL }}js/workspace/widget.js"></script>
    <!-- Main/Initial functions -->
    <script src="{{ STATIC_URL }}js/workspace/workspace.js"></script>
    <!-- Validator of the side bar functions -->
    <script src="{{ STATIC_URL }}js/workspace/validator.js"></script>
 
</body>
</html>