{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carafe</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{{ STATIC_URL }}css/jquery.handsontable.full.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/landing-page.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/workspace.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/elegant.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/codemirror.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/rickshaw.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-iconpicker.css" rel="stylesheet">
</head>

<body>
    {% include "book/navigation.html" %}
    <div id="page-wrapper" ng-controller="WidgetController">
        <br/>{% include "book/form.html" %} {% verbatim %} {% endverbatim %} {% include "book/dashboard.html" %}
    </div>

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/app-min.js"></script>



</body>

</html>
